#loader {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3); /* Couleur de fond partielle */
    border-top: 4px solid #3498db; /* Couleur de la barre de chargement */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}